.saludo{
    color: white;
}
.padre{
    display: flex;
    width: 100%;

/*     acuerdate que vh significa viewport height (altura del dispositivo). También funciona como porcentaje, especificar 100vh es equivalente a ocupar 100% de la pantalla */
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:  url(../assets/imagenes/fondo2.jpg);  
}
.hijo{
    width: 50%;
}

.hora{
    color: /* #10c658  */ #2877A8;
}
.fecha{
    font-family: 'PT Sans Narrow', sans-serif;
    color:/* #900C3F */  #c28e95;
}
h1{
color: #696969;
}
.flecha{
    height: 40%;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    
transition: 0.2s; /* con eso se ve más suave la transicion */
background: none;
overflow: hidden;
}
.flechaback{
    height: 40%;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    
transition: 0.2s; /* con eso se ve más suave la transicion */
background: none;
overflow: hidden;
}
.flecha:hover{
    /* translate(x,y) */
transform: translate(15px) ;
}
.flechaback:hover{
    /* translate(x,y) */
transform: translate(-15px) ;
}
.cabecera{
    width: 100%;
    padding: 10% 1%;
    margin: 0, 10%;
    background-color: white;
    box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.62);border-radius: 35px 35px 35px 35px;
}
.divconflechas{
    display: flex;
    justify-content: center;
    align-items: center;
}

