    

<div class="padre" id="sect1">
      <div class="hijo">
            <h3 class="saludo">{{ title }} </h3>
            <hr>
            <h3 class="saludo">HOLA JUAN</h3> <br>
            <div class="divconflechas">
                  <button class="flechaback" (click)="anteriorDiv()"><img src="../assets/imagenes/FLECHABACK.png" alt="" width="40px" height="40px"></button>
                  <!-- *ngIf es para saber si una variable es true  -->
                  <div class="cabecera" *ngIf="mostrardiv1">
                        <h1>LA FECHA DE HOY ES: </h1>
                        <h2 class="fecha"> {{fecharreglada}} </h2>
                        <h1>HORA LOCAL EN COLOMBIA: </h1>

                        <h1 class="hora">{{mostrarhora}} </h1>

                  </div>
                  <div class="cabecera" *ngIf="mostrardiv2">
                        <h1>EL SIGNO ZODIACAL ACTUAL ES: </h1>
                        <h2 class="fecha"> ACUARIO </h2>
                        <h1>ELEMENTO DEL SIGNO: </h1>

                        <h1 class="hora">AIRE </h1>

                  </div>
                  <div class="cabecera" *ngIf="mostrardiv3">
                        <h1>EL PROXIMO CUMPLEAÑERO ES: </h1>
                        <h2 class="fecha"> *INBOX Y TE AGREGO A LA BASE DE DATOS </h2>
                        <h1>DIA DE CUMPLEAÑOS: </h1>

                        <h1 class="hora">PROXIMAMENTE</h1>

                  </div>


                  <button class="flecha"><img src="../assets/imagenes/FLECHA.png" alt="" width="40px" height="40px"
                              (click)="siguienteDiv()"></button>

            </div>
      </div>
</div>
<!-- <app-persona></app-persona> -->