<div class="cuerpo">
  <div class="padre">
    <div class="hijo">
      <h1>PROYECTO CURSO DESAROLLO WEB</h1>
      <br>
      <div class="imagenes">
        <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank" (mouseover)="nombrarhtml()" (mouseleave)="mostrarnombre()">
          <!--target blank abre nueva pestaña -->
          <img src="../../assets/imagenes/HTML5_logo_and_wordmark.svg.png" alt="" height="150px" width="150px" >
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" (mouseover)="nombrarCss()" (mouseleave)="mostrarnombre()">
          <img src="../../assets/imagenes/CSS3_logo_and_wordmark.svg.png" alt="" height="150px" width="150px">
        </a>
        <a href="https://angular.io/" target="_blank" (mouseover)="nombrarAngular()" (mouseleave)="mostrarnombre()">
          <img src="../../assets/imagenes/2048px-Angular_full_color_logo.svg.png" alt="" height="250px" width="250px">
        </a>
        <a href="https://www.typescriptlang.org/" target="_blank" (mouseover)="nombrarTypeScript()" (mouseleave)="mostrarnombre()">
          <img src="../../assets/imagenes/Typescript_logo_2020.svg.png" alt="" height="150px" width="150px">
        </a>
       <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank" (mouseover)="nombrarJavaScript()" (mouseleave)="mostrarnombre()">
         <img src="../../assets/imagenes/js.png" alt="" height="150px" width="150px">
       </a>
      </div>
      <br>
      <h4>{{nombreApp}}</h4>
    </div>
  </div>
</div>