<div class="cuerpo">
    <div class="padre">
       <div class="hijo">
         <h1>PROYECTO CURSO DESAROLLO WEB</h1> 
         <br>
         <div class="imagenes">
             <img src="../../assets/imagenes/HTML5_logo_and_wordmark.svg.png" alt="" height="150px" width="150px">
             <img src="../../assets/imagenes/CSS3_logo_and_wordmark.svg.png" alt="" height="150px" width="150px">
             <img src="../../assets/imagenes/2048px-Angular_full_color_logo.svg.png" alt="" height="300px" width="300px">
             <img src="../../assets/imagenes/Typescript_logo_2020.svg.png" alt="" height="150px" width="150px">
             <img src="../../assets/imagenes/js.png" alt="" height="150px" width="150px">
         </div> 
         <br>
         <h4>BY: NICOLAS ROMERO </h4>
       </div>
    </div>
</div>
